.update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.update-title {
    margin-bottom: 30px;
    color: #595959;
}

.update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.update-form__input {
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.update-form__input:hover {
    border-bottom: 1px solid gray;
}

.update-form__input:focus {
    outline: none;
    border-bottom: 1px solid #0771E7;
}

.update-form__submit-button {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 15px;
    background-color: #96CDF1;
    font-weight: bold;
    color: white;
}

.update-form__submit-button:hover {
    background-color: #0771E7;
    cursor: pointer;
}

.cancel {
    margin-top: 10px;
}

.update-text-align-right {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

.update-text--small {
    font-size: 14px;
    margin-top: 30px;
    color: #595959;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: -20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #1077FF;
}

a:hover {
    color: #96CDF1;
}