.add-todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    width: 500px;
}

.add-todo-form--submit-button {
    border: none;
    background-color: #96CDF1;
    font-weight: bold;
    color: white;
    padding: 2px 5px;
    font-size: 25px;
    width: 10%;
}

.add-todo-form--submit-button:hover {
    background-color: #0771E7;
    cursor: pointer;
}

.add-todo-form--input-title {
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 25px;
    width: 90%;
    padding-left: 30px;
}

.add-todo-form--input-title:hover {
    outline: none;
    border-bottom: 1px solid gray;
}

.add-todo-form--input-title:focus {
    outline: none;
    border-bottom: 1px solid #96CDF1;
}

.active {
    background-color: #0771E7;
}

.active {
    background-color: #0771E7;
}