.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #F6F6F8;
    border-bottom: 1px solid #96CDF1;
}

.navbar__user-wrapper {
    display: flex;
    align-items: center;
    gap: 20px
}

.navbar__user-text {
    font-size: 14px;
    color: #595959;
}

.signout-button {
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #0771E7;
    font-weight: bold;
    color: white;
}

.signout-button:hover {
    background-color: #96CDF1;
    cursor: pointer;
}

.navbar-icon {
    font-size: 40px;
    color: #1077FF;
}

.navbar-icon:hover {
    color: #96CDF1;
}

.navbar__edit-profile-icon {
    font-size: 20px;
    margin-top: 5px;
    color: #1077FF;
}

.navbar__edit-profile-icon:hover {
    color: #96CDF1;
}