.todosList-item {
    list-style-type: none;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #96CDF1;
}

.todosList-item--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #96CDF1;
}

.todosList-item--item-text {
    width: 80%;
}

.todosList-item--item-checkbox {
    width: 10%;
}

.todosList-item--remove-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 10%;
    color: red;
    padding: 5px;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.completed {
    text-decoration: line-through;
    opacity: 50%;
}
/*
.incomplete {
    color: red
} */